Skip to content
toronyax4
KeyballBLELkeymouse-Mv2
Repository navigation
Code
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Commit 7ead570
toronyax4
toronyax4
authored
15 hours ago
·
·
Verified
Update KeyballBLE.keymap
main
1 parent 
31993d6
 commit 
7ead570
File tree
Filter files…
config
KeyballBLE.keymap
1 file changed
+1
-1
lines changed
Search within code
 
Customizable line height
The default line height has been increased for improved accessibility. You can choose to enable a more compact line height from the view settings menu.

‎config/KeyballBLE.keymap‎
+1
-1
Lines changed: 1 addition & 1 deletion
Original file line number	Diff line number	Diff line change
@@ -125,7 +125,7 @@
        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans         &trans         &trans         &to 1          &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &to 0          &to 0          &to 0          &to 1          &to 0          &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans                                                      &trans         &bt BT_CLR
            >;
0 commit comments
Comments
0
 (0)
Comment
You're not receiving notifications from this thread.

